.calculadora {
    background-color: #36648B;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}

.resultDisplay {
    background-color: black;
    color: white;
    height: 30px;
    width: 99%;
    font-style: bold;
    font-size: 150%;
}

.button {
    background-color: dimgrey;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 16px;
    float: left;
    font-size: 125%;
}

.buttonZero {
    padding: 15px 50%;
}

.buttonOperator {
    background-color: darkslategray;
}

.buttonEqual {
    background-color: orangered;
}